.App {
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.input-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 0.6rem/0.8rem;
  overflow: hidden;
  
}

.input {
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  text-align: center;
  color:black;
  font-size: 30px;
  outline: none;
  transition-property: transform, opacity;
  text-transform: linear;
 
}

.button {
  padding: 20px;
  color: black;
  font-size: 30px;
  outline: none;
 
  
}